@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(../public/lib/font-awesome-4.2.0/css/font-awesome.css);
@import url(../public/lib/jquery.fullPage/jquery.fullPage.css);
/* repo: webmd/chrome */
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 0;
}

a:active, a:link, a:visited {
  text-decoration: none;
  color: #1295cc;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Regular.eot?#iefix) format("embedded-opentype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Regular.woff) format("woff"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Regular.ttf) format("truetype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Regular.svg#Lato-Regular) format("svg");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.eot);
  src: local("Lato Bold"), local("Lato-Bold"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.eot?#iefix) format("embedded-opentype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.woff) format("woff"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.ttf) format("truetype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.svg#Lato-Bold) format("svg");
}
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.eot);
  src: local("Lato Italic"), local("Lato-Italic"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.eot?#iefix) format("embedded-opentype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.woff) format("woff"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.ttf) format("truetype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.svg#Lato-Italic) format("svg");
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.eot);
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.eot?#iefix) format("embedded-opentype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.woff) format("woff"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.ttf) format("truetype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular) format("svg");
}
@font-face {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.eot);
  src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.eot?#iefix) format("embedded-opentype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.woff) format("woff"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.ttf) format("truetype"), url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.svg#icons) format("svg");
}
.icon-arrow-down:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-arrow-up:before, .icon-check:before, .icon-checklist:before, .icon-circleadd:before, .icon-circlecheck:before, .icon-circleclose:before, .icon-circlecomment:before, .icon-circleinfo:before, .icon-circleminus:before, .icon-circlequest:before, .icon-clipboard:before, .icon-close:before, .icon-dot-open:before, .icon-download:before, .icon-facebook:before, .icon-female:before, .icon-gallery:before, .icon-heart:before, .icon-icecream:before, .icon-listen:before, .icon-male:before, .icon-menu:before, .icon-pinterest:before, .icon-print:before, .icon-save:before, .icon-saved:before, .icon-scale:before, .icon-search:before, .icon-share:before, .icon-time:before, .icon-twitter:before, .icon-user:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-share:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-dot-open:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-icecream:before {
  content: "";
}

.icon-gallery:before {
  content: "";
}

.icon-time:before {
  content: "";
}

.icon-circlecheck:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-listen:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-print:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-circleadd:before {
  content: "";
}

.icon-arrow-up:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-save:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-saved:before {
  content: "";
}

.icon-scale:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-circleminus:before {
  content: "";
}

.icon-circleclose:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-female:before {
  content: "";
}

.icon-male:before {
  content: "";
}

.icon-circleinfo:before {
  content: "";
}

.icon-circlecomment:before {
  content: "";
}

.icon-circlequest:before {
  content: "";
}

.icon-checklist:before {
  content: "";
}

.icon-clipboard:before {
  content: "";
}

.icon-download:before {
  content: "";
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-family: Lato,Arial,sans-serif;
  font-size: 16px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
.left-col {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 250px;
  z-index: 1000;
  background: #fff;
  border-right: 1px #ddd solid;
  -webkit-transition: left 500ms ease-in-out;
  -moz-transition: left 500ms ease-in-out;
  -ms-transition: left 500ms ease-in-out;
  -o-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
}
.left-col.move-left {
  left: -200px;
}
.left-col.move-left:hover {
  left: 0;
}

.content {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  background-size: 50% 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.content:after {
  content: '';
  background: url("http://www.transparenttextures.com/patterns/az-subtle.png") repeat 0 0;
  background-color: rgba(7, 89, 134, 0.25);
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  opacity: 1;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.slide,
.pl {
  padding-left: 250px;
}

.slide.sub_slide.active {
  padding-left: 50px;
}

.arw_btn {
  position: relative;
}
.arw_btn i {
  color: #fff;
  font-size: 6em;
  opacity: 0.8;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  transform: scale(0.85);
  transform-origin: 50% 50%;
  position: relative;
}
.arw_btn i.animate {
  -webkit-animation: grow .9s infinite ease-in-out alternate;
}
.arw_btn i.animate.right {
  -webkit-animation: growRight 1s infinite ease-in-out alternate;
}
.arw_btn i:hover {
  opacity: 1;
  transform: scale(1);
}
.arw_btn i.animate:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes grow {
  0% {
    transform: scale(0.9);
    top: 0;
  }
  100% {
    transform: scale(1);
    top: 30px;
  }
}
@-webkit-keyframes growRight {
  0% {
    transform: scale(0.9);
    right: 0;
  }
  100% {
    transform: scale(1);
    right: -30px;
  }
}
.masthead .logo {
  background: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/usability/2012/LBi_Masthead/logo_trans.png) no-repeat 0 0;
  background-size: 100%;
  text-indent: -9999px;
  overflow: hidden;
  width: 150px;
  height: 35px;
  margin: 40px 0 40px 30px;
  display: block;
}
.masthead .social {
  margin: 20px 0 20px 30px;
}
.masthead .social i {
  background: #aaaaaa;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  margin: 0 10px 0 0;
}
.masthead .social i:before {
  position: absolute;
  color: #fff;
  top: 23%;
  left: 29%;
}
.masthead .social i.fa-twitter:before {
  left: 19%;
}
.masthead .social i.fa-pinterest {
  background: #fff;
  font-size: 29px;
  line-height: 12px;
  display: inline-block;
  width: 23px;
  margin-left: 2px;
  height: 23px;
}
.masthead .social i.fa-pinterest:before {
  color: #aaaaaa;
  left: -5%;
}

.nav_menu .nav {
  font-weight: 1rem;
}
.nav_menu .nav > ul > li {
  display: block;
  border-top: 1px #ddd dotted;
}
.nav_menu .nav > ul > li a {
  display: block;
  padding: 15px 15px 15px 30px;
  color: #333;
  line-height: 1;
  font-size: 1.125em;
  position: relative;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.nav_menu .nav > ul > li a:hover {
  padding-left: 32px;
  background-color: #f4f4f4;
}
.nav_menu .nav > ul > li:last-child a {
  padding-right: 0;
}
.nav_menu .nav > ul > li.active a {
  color: #fff;
  text-shadow: -1px -1px #0A6090;
  background-color: #0870A9;
  padding-left: 32px;
}
.nav_menu .nav > ul > li.active a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 14px solid #0870A9;
  top: 0;
  right: -13px;
}
.nav_menu .nav > ul > li:last-child {
  border-bottom: 1px #ddd dotted;
}
.nav_menu .nav > ul > li.home a {
  font-size: 1.65em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sponsor.left {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.sponsor.left span {
  display: block;
  padding: 0 2px 5px 2px;
  font-size: .85em;
  color: #333;
  text-align: left;
}
.sponsor.left img {
  width: auto;
  display: block;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  text-align: center;
  padding: 0 15px 40px;
}
.copyright p {
  font-size: .65em;
  line-height: 1.3em;
}
.copyright p a:hover {
  text-decoration: underline;
}

.content.sec_1 {
  border-top: 0;
  position: relative;
}
.content.sec_1 .promo_text {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.content.sec_1 .promo_text span, .content.sec_1 .promo_text h2, .content.sec_1 .promo_text p {
  display: block;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
  text-align: center;
}
.content.sec_1 .promo_text h2 {
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}
.content.sec_1 .promo_text span.attr {
  font-size: 3em;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}
.content.sec_1 .promo_text span.spacer {
  content: '';
  width: 460px;
  height: 6px;
  display: block;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.content.sec_1 .promo_text p {
  padding: 0 165px;
  font-size: 1.375em;
}
.content.sec_1 .btm_arw {
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translate(-50%, -15%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.content.sec_1.current-slide .promo_text {
  top: 40%;
  opacity: 1;
}
.content.sec_1.current-slide .btm_arw {
  opacity: .8;
  bottom: 15%;
}

.content .container {
  min-height: 100vh;
}

.toc_content {
  color: #fff;
  font-size: 1rem;
  position: relative;
  text-align: center;
  position: absolute;
  top: 0%;
  opacity: 0;
  transform: translate(0, -50%);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.toc_content h3, .toc_content p {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}
.toc_content h3 {
  font-size: 4em;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 35px;
  font-family: 'Roboto Slab', serif;
}
.toc_content h3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: -3px 0 0 -230px;
  width: 460px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.8);
}
.toc_content p {
  line-height: 1.5em;
  font-size: 1.375em;
  position: relative;
  padding: 0 165px 20px;
}
.toc_content .art_btn {
  text-align: center;
}

.content.current-slide .toc_content {
  top: 45%;
  opacity: 1;
}

.top-ad {
  width: 725px;
  margin: 0px auto;
  position: relative;
  top: -60px;
  z-index: 1;
}

.fp-slides .top-ad {
  width: 725px;
  margin: 0px auto;
  position: relative;
  top: -60px;
  z-index: 1;
}

.sub_slide {
  position: relative;
  background-color: #f5f9fa;
}
.sub_slide:before {
  content: '';
  background: url("http://www.transparenttextures.com/patterns/az-subtle.png") repeat 0 0;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  opacity: 0.45;
}
.sub_slide .container h1 {
  font-size: 50px;
  margin-bottom: 40px;
}
.sub_slide .container p {
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 20px;
}

.btn_bar {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px #eee solid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
}
.btn_bar .arw_btn {
  float: left;
}
.btn_bar .arw_btn i {
  font-size: 3.5em;
  color: #333;
  text-shadow: none;
}
.btn_bar .sponsor.bar {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
.btn_bar .sponsor.bar .fr {
  height: 50px;
  line-height: 50px;
  float: right;
}
.btn_bar .sponsor.bar span {
  float: left;
  margin-right: 10px;
  font-size: .85em;
  color: #333;
}

#slide3 .btn_bar .fr {
  margin-top: 20px;
}

.container.article {
  background-color: #fff;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  padding-top: 77px;
  box-sizing: content-box;
}
.container.article article {
  font-size: 1rem;
  color: #333;
  box-sizing: border-box;
}
.container.article article .banner_ad {
  padding: 20px 0 0;
  text-align: center;
}
.container.article article .title_bar {
  padding: 20px 20px 30px;
}
.container.article article .title_bar h1 {
  font-size: 2.5em;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
.container.article article .title_bar .sponsor.bar .fr {
  height: 50px;
  line-height: 50px;
  float: right;
  margin-top: 5px;
}
.container.article article .title_bar .sponsor.bar span {
  float: left;
  margin-right: 10px;
  font-size: .85em;
  color: #333;
}
.container.article article .art_content {
  padding: 0 50px 35px 50px;
  margin: 35px 350px 0 0;
  position: relative;
}
.container.article article .art_content .inner_content {
  position: relative;
}
.container.article article .art_content .inner_content .right_col.top {
  position: absolute;
  right: -350px;
  top: 0;
}
.container.article article .art_content .inner_content .right_col.bottom {
  position: absolute;
  right: -350px;
  bottom: 0;
}
.container.article article .art_content .inner_content blockquote {
  width: 300px;
  font-size: 1.4em;
  line-height: 1.4em;
}
.container.article article .art_content p {
  margin: 0;
  padding-bottom: 35px;
  line-height: 30px;
  font-size: 1.3em;
}
.container.article article .art_content p .video-thumb {
  margin-top: 10px;
  margin-right: 20px;
  float: left;
}
.container.article article footer {
  background: #f4f4f4;
  text-align: center;
  padding: 20px 0;
}
.container.article article footer .arw_btn i {
  color: #333;
  font-size: 4em;
}
.container.article article footer .arw_btn span {
  display: block;
  color: #333;
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
}

#slide3 .container.article {
  padding-top: 117px;
}
