.nav_menu {
    .nav {
        font-weight: 1rem;
    }
    .nav>ul {
    }
    .nav>ul>li {
        display: block;
        border-top: 1px #ddd dotted;

        a {
            display: block;
            padding: 15px 15px 15px 30px;
            color: #333;
            line-height: 1;
            font-size: 1.125em;
            position: relative;
            -webkit-transition: all 150ms ease-in-out;
            -moz-transition: all 150ms ease-in-out;
            -ms-transition: all 150ms ease-in-out;
            -o-transition: all 150ms ease-in-out;
            transition: all 150ms ease-in-out;

            &:hover {
                padding-left: 32px;
                background-color: #f4f4f4;
            }
        }
        &:last-child a {
            padding-right: 0;
        }
        &.active a {
            color: #fff;
            text-shadow: -1px -1px #0A6090;
            background-color: #0870A9;
            padding-left: 32px;

            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-top: 24px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 14px solid #0870A9;
                top: 0;
                right: -13px;
            }
        }
        &:last-child {
            border-bottom: 1px #ddd dotted;
        }
        &.home {
            a {
                font-size: 1.65em;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}