/* repo: webmd/chrome */
*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

:focus {
    outline: 0
}

a:active,a:link,a:visited {
    text-decoration: none;
    color: #1295cc;
}

a:hover {
    text-decoration: none
}

@font-face {
    font-family: Lato;
    font-style: normal;
    //font-weight: 40http://img.webmd.com/dtmcms/live/webmd/site_images/fonts/Lato-Regular.eot);
    src: local('Lato Regular'),local('Lato-Regular'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Regular.woff) format('woff'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Regular.ttf) format('truetype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Regular.svg#Lato-Regular) format('svg')
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.eot);
    src: local('Lato Bold'),local('Lato-Bold'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.eot?#iefix) format('embedded-opentype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.woff) format('woff'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.ttf) format('truetype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Bold.svg#Lato-Bold) format('svg')
}

@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.eot);
    src: local('Lato Italic'),local('Lato-Italic'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.eot?#iefix) format('embedded-opentype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.woff) format('woff'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.ttf) format('truetype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/Lato-Italic.svg#Lato-Italic) format('svg')
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.eot);
    src: local('Roboto Slab Regular'),local('RobotoSlab-Regular'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.eot?#iefix) format('embedded-opentype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.woff) format('woff'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.ttf) format('truetype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular) format('svg')
}

@font-face {
    font-family: icons;
    font-style: normal;
    font-weight: 400;
    src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.eot);
    src: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.eot?#iefix) format('embedded-opentype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.woff) format('woff'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.ttf) format('truetype'),url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/fonts/icons.svg#icons) format('svg')
}

.icon-arrow-down:before,.icon-arrow-left:before,.icon-arrow-right:before,.icon-arrow-up:before,.icon-check:before,.icon-checklist:before,.icon-circleadd:before,.icon-circlecheck:before,.icon-circleclose:before,.icon-circlecomment:before,.icon-circleinfo:before,.icon-circleminus:before,.icon-circlequest:before,.icon-clipboard:before,.icon-close:before,.icon-dot-open:before,.icon-download:before,.icon-facebook:before,.icon-female:before,.icon-gallery:before,.icon-heart:before,.icon-icecream:before,.icon-listen:before,.icon-male:before,.icon-menu:before,.icon-pinterest:before,.icon-print:before,.icon-save:before,.icon-saved:before,.icon-scale:before,.icon-search:before,.icon-share:before,.icon-time:before,.icon-twitter:before,.icon-user:before {
    font-family: icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit
}

.icon-share:before {
    content: "\e600"
}

.icon-check:before {
    content: "\e601"
}

.icon-dot-open:before {
    content: "\e602"
}

.icon-menu:before {
    content: "\e603"
}

.icon-icecream:before {
    content: "\e604"
}

.icon-gallery:before {
    content: "\e605"
}

.icon-time:before {
    content: "\e606"
}

.icon-circlecheck:before {
    content: "\e607"
}

.icon-heart:before {
    content: "\e608"
}

.icon-listen:before {
    content: "\e609"
}

.icon-pinterest:before {
    content: "\e60d"
}

.icon-print:before {
    content: "\e60b"
}

.icon-twitter:before {
    content: "\e613"
}

.icon-circleadd:before {
    content: "\e60e"
}

.icon-arrow-up:before {
    content: "\e610"
}

.icon-arrow-down:before {
    content: "\e611"
}

.icon-facebook:before {
    content: "\e612"
}

.icon-save:before {
    content: "\e615"
}

.icon-search:before {
    content: "\e617"
}

.icon-saved:before {
    content: "\e618"
}

.icon-scale:before {
    content: "\e619"
}

.icon-arrow-left:before {
    content: "\e61a"
}

.icon-arrow-right:before {
    content: "\e61b"
}

.icon-user:before {
    content: "\e61c"
}

.icon-circleminus:before {
    content: "\e61d"
}

.icon-circleclose:before {
    content: "\e622"
}

.icon-close:before {
    content: "\e624"
}

.icon-female:before {
    content: "\e627"
}

.icon-male:before {
    content: "\e628"
}

.icon-circleinfo:before {
    content: "\e62a"
}

.icon-circlecomment:before {
    content: "\e62c"
}

.icon-circlequest:before {
    content: "\e62d"
}

.icon-checklist:before {
    content: "\e625"
}

.icon-clipboard:before {
    content: "\e626"
}

.icon-download:before {
    content: "\e629"
}