<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future of Health</title>

    <link rel="stylesheet" href="css/master.css">

    <script src="http://img.webmd.com/dtmcms/live/webmd/PageBuilder_Assets/JS/scripts363.js"></script>

    <script src="js/foh.js"></script>
</head>
<body>
<div id="foh" ng-app="fohApp" ng-controller="fohCTRL">
   <div class="left-col">
      <header class="site_header">
         <div class="masthead clearfix"><a href="/" class="logo" title="WebMD"><span class="logo-holder">WebMD</span></a><div class="foh-logo"><span class="med">Future</span><span class="sml">of</span><span class="lrg">Health</span></div>
            <div class="attr"><span class="spr-sml">with</span><span class="name">Robin Roberts</span></div>
         </div>
      </header>
      <div class="sponsor sponsor-left-col"><span class="attr-txt">Brought to you by</span><div class="spon-img"><img src="http://placehold.it/150x50/c294c3/ffffff"></div>
      </div>
      <div class="nav_menu">
         <nav class="nav">
            <ul id="menu" class="menu clearfix">
               <li ng-repeat="foh in fohs" data-menuanchor="{{foh.sec.friendlyUrl}}" class="nav_{{$index + 1}}"><a href="#{{foh.sec.friendlyUrl}}">{{foh.sec.title}}<span class="act-tab"><i></i></span></a></li>
            </ul>
         </nav>
      </div>
      <div class="social"><i class="fa fa-envelope-o"></i><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-pinterest"></i></div>
      <div class="copyright">
         <p>© 2005-2014 WebMD, LLC. All rights reserved. WebMD does not provide medical advice, diagnosis or treatment.<br><a rel="nofollow" href="http://www.webmd.com/www/policies/additional-info?ss=ftr" onclick="return sl(this,'','f-about_25');">See additional information.</a></p>
      </div>
   </div>
   <div class="right-col">
      <div class="section_wrap">
         <section id="sec_1" class="content sec_1 pl" back-img="{{fohs[0].sec.bgImg}}">
            <div class="container clearfix">
               <div class="toc_content">
                  <h3>{{fohs[0].sec.title}}</h3><span class="attr">with {{fohs[0].sec.attribution}}</span><div ng-switch="" on="fohs[0].sec.sponsor.toc.state"><span ng-switch-when="false"><span class="spacer"></span></span><span ng-switch-default="">
                        <div class="sponsor sponsor-toc">
                           <div class="spon-img"><a href="{{fohs[0].sec.sponsor.toc.link}}" onclick="return sl(this,'','f-about_25');"><img ng-src="{{fohs[0].sec.sponsor.toc.image}}"></a></div>
                        </div></span></div>
                  <p>{{fohs[0].sec.description}}</p>
               </div>
               <div class="nxt-sec"><a href="#{{fohs[1].sec.friendlyUrl}}"><span class="nxt-sec-title">Next: {{fohs[1].sec.title}}</span><div class="dwn-arw"><i class="fa fa-angle-down"></i></div></a></div>
            </div>
         </section>
         <section ng-repeat="foh in fohs" ng-if="foh.sec.id != 1" id="sec_{{$index + 1}}" class="content sec_{{$index + 1}}" back-img="{{foh.sec.bgImg}}">
            <div class="slide" id="slide{{$index + 1}}">
               <div class="container clearfix">
                  <div class="toc_content">
                     <h3>{{foh.sec.title}}</h3><span class="spacer"></span><p>{{foh.sec.description}}</p>
                     <div class="art_btn"><a href="#{{foh.sec.friendlyUrl}}/{{foh.sec.subSlideUrl}}" class="arw_btn read-more hide-left-trigger">Explore this topic</a></div>
                  </div>
                  <div class="nxt-sec" ng-if="foh.sec.id != 6"><a href="#{{foh.sec.nextSlide}}"><span class="nxt-sec-title">Next: {{foh.sec.nextSlide}}</span><div class="dwn-arw"><i class="fa fa-angle-down"></i></div></a></div>
               </div>
            </div>
            <div class="slide sub_slide" data-ajax-url="{{foh.sec.ajaxUrl}}" data-anchor="{{foh.sec.subSlideUrl}}" id="sub_slide{{$index + 1}}">
               <div class="btn_bar clearfix">
                  <div class="sponsor bar clearfix"><a href="#{{foh.sec.friendlyUrl}}" class="arw_btn read-less show-left-trigger">Back</a></div>
               </div>
               <div class="container article clearfix">
                  <article>
                     <header class="title_bar">
                        <h1>{{foh.sec.data.title}}</h1>
                     </header>
                     <div class="art_full_col"></div>
                     <div class="art_content clearfix" ng-bind-html="foh.sec.data.content"></div>
                     <footer ng-if="foh.sec.id != 6"><a href="#{{foh.sec.nextSlide}}" class="arw_btn next-section show-left-trigger">Next: {{foh.sec.nextSlide}}</a></footer>
                  </article>
               </div>
            </div>
         </section>
      </div>
   </div>
</div>
    <script>
    // this works but it's pretty lame
    var fohSections = ['future-of-health','womb-transplant','3d-printing','lastest-on-obesity','wireless-medicine','advances-in-vision'];

    // FOH - Controllers
    fohControllers.controller('fohCTRL', ['$scope', '$http', function($scope, $http){
        // $http.get('json/program.json').
        //     success(function(data, status, headers, config) {
        //         //var deferred = $q.defer();

        //         $scope.fohs = data;
        //         //$scope.status = status;
        //         console.log(data);
        //         console.log(status);
        //         console.log(headers);
        //         console.log(config);

        //         //return deferred.promise;
        //     });
        $scope.fohs = [
            {
                "sec" : {
                    "id" : 1,
                    "bgImg" : "img/promo.jpg",
                    "title" : "Future of Health",
                    "attribution" : "Lorem Ipsum",
                    "friendlyUrl" : "future-of-health",
                    "nextSlide" : "womb-transplant",
                    "description" : "Lorem ipsum dolor sit amet, liber propriae similique vix in, porro scripserit inciderint no mei. Sea at feugait praesent. His in consul oblique, vix quot regione efficiantur cu. Commune lucilius repudiandae no sea, quem delenit nam eu. Eum no odio tollit temporibus.",
                    "sponsor" : {
                        "toc" : {
                            "state" : true,
                            "link" : "#ryan",
                            "image" : "http://placehold.it/400x80/c294c3/ffffff"
                        }
                    }
                }
            },
            {
                "sec" : {
                    "id" : 2,
                    "bgImg" : "img/TheFutureofHealth_2000x959_01.jpg",
                    "title" : "Womb Transplant",
                    "attribution" : "",
                    "friendlyUrl" : "womb-transplant",
                    "subSlideUrl" : "1",
                    "nextSlide" : "3d-printing",
                    "description" : "Lorem ipsum dolor sit amet, liber propriae similique vix in, porro scripserit inciderint no mei. Sea at feugait praesent. His in consul oblique, vix quot regione efficiantur cu. Commune lucilius repudiandae no sea, quem delenit nam eu. Eum no odio tollit temporibus.",
                    "ajaxUrl" : "http://www.preview.webmd.com/zztest/ryan-lu/ajax-page",
                    "data" : {
                        "title" : "Lorem Ipsum Presents",
                        "content" : "hello"
                    },
                    "sponsor" : {
                        "btnBar" : {
                            "state" : true,
                            "link" : "#ryan",
                            "image" : "http://placehold.it/150x50"
                        }
                    }
                }
            },
            {
                "sec" : {
                    "id" : 3,
                    "bgImg" : "img/heart.jpg",
                    "title" : "3D Printing",
                    "attribution" : "",
                    "friendlyUrl" : "3d-printing",
                    "subSlideUrl" : "1",
                    "nextSlide" : "lastest-on-obesity",
                    "description" : "Lorem ipsum dolor sit amet, liber propriae similique vix in, porro scripserit inciderint no mei. Sea at feugait praesent. His in consul oblique, vix quot regione efficiantur cu. Commune lucilius repudiandae no sea, quem delenit nam eu. Eum no odio tollit temporibus.",
                    "ajaxUrl" : "http://www.preview.webmd.com/zztest/ryan-lu/ajax-page",
                    "data" : {
                        "title" : "Lorem Ipsum Presents",
                        "content" : "hello"
                    },
                    "sponsor" : {
                        "btnBar" : {
                            "state" : false,
                            "link" : "#ryan",
                            "image" : "http://placehold.it/150x50"
                        }
                    }
                }
            },
            {
                "sec" : {
                    "id" : 4,
                    "bgImg" : "img/obesity.jpg",
                    "title" : "Lastest on Obesity",
                    "attribution" : "",
                    "friendlyUrl" : "lastest-on-obesity",
                    "subSlideUrl" : "1",
                    "nextSlide" : "wireless-medicine",
                    "description" : "Lorem ipsum dolor sit amet, liber propriae similique vix in, porro scripserit inciderint no mei. Sea at feugait praesent. His in consul oblique, vix quot regione efficiantur cu. Commune lucilius repudiandae no sea, quem delenit nam eu. Eum no odio tollit temporibus.",
                    "ajaxUrl" : "http://www.preview.webmd.com/zztest/ryan-lu/ajax-page",
                    "data" : {
                        "title" : "Lorem Ipsum Presents",
                        "content" : "hello"
                    },
                    "sponsor" : {
                        "btnBar" : {
                            "state" : true,
                            "link" : "#ryan",
                            "image" : "http://placehold.it/150x50"
                        }
                    }
                }
            },
            {
                "sec" : {
                    "id" : 5,
                    "bgImg" : "img/device.jpg",
                    "title" : "Wireless Medicine",
                    "attribution" : "",
                    "friendlyUrl" : "wireless-medicine",
                    "subSlideUrl" : "1",
                    "nextSlide" : "advances-in-vision",
                    "description" : "Lorem ipsum dolor sit amet, liber propriae similique vix in, porro scripserit inciderint no mei. Sea at feugait praesent. His in consul oblique, vix quot regione efficiantur cu. Commune lucilius repudiandae no sea, quem delenit nam eu. Eum no odio tollit temporibus.",
                    "ajaxUrl" : "http://www.preview.webmd.com/zztest/ryan-lu/ajax-page",
                    "data" : {
                        "title" : "Lorem Ipsum Presents",
                        "content" : "hello"
                    },
                    "sponsor" : {
                        "btnBar" : {
                            "state" : false,
                            "link" : "#ryan",
                            "image" : "http://placehold.it/150x50"
                        }
                    }
                }
            },
            {
                "sec" : {
                    "id" : 6,
                    "bgImg" : "img/eye.jpg",
                    "title" : "Advances in Vision",
                    "attribution" : "",
                    "friendlyUrl" : "advances-in-vision",
                    "subSlideUrl" : "1",
                    "nextSlide" : "",
                    "description" : "Lorem ipsum dolor sit amet, liber propriae similique vix in, porro scripserit inciderint no mei. Sea at feugait praesent. His in consul oblique, vix quot regione efficiantur cu. Commune lucilius repudiandae no sea, quem delenit nam eu. Eum no odio tollit temporibus.",
                    "ajaxUrl" : "http://www.preview.webmd.com/zztest/ryan-lu/ajax-page",
                    "data" : {
                        "title" : "Lorem Ipsum Presents",
                        "content" : "hello"
                    },
                    "sponsor" : {
                        "btnBar" : {
                            "state" : true,
                            "link" : "#ryan",
                            "image" : "http://placehold.it/150x50"
                        }
                    }
                }
            }
        ];
    }]);
    </script>
</body>
</html>